<html>
    <body>
        <form action="/docalculation" method="post">
            Enter Num1: <input type="number" name="num1" /><br><br>
            Enter Num2: <input type="number" name="num2" /><br><br>
            <input type="submit" value="Calulate" />

            <p>Result: {{result}}</p>
        </form>
    </body>
</html>